# Titanic-Projekt  

<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/375px-RMS_Titanic_3.jpg' width='250px;'/>

Die traruige Geschichte des Passagierschiffs ["Titanic"](https://de.wikipedia.org/wiki/RMS_Titanic) ist uns wohl bekannt.   
Wir wollen in diesem Notebook die Daten von Titanics Passigieren mit Hilfe von Pandas analysieren. Dazu haben wir die Daten in der Datei `titanic.csv` gespeichert.

In [4]:
import pandas as pd

Erstelle aus `titanic.csv` ein Dataframe.

In [5]:

titanic_df = pd.read_csv('titanic.csv')

print(titanic_df.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

Ermittle dann statistische Eckdaten des Dataframes, z.B. Lagemaße, Datentypen, Anzahl der Zeilen und Spalten ...

In [6]:
# Anzahl der Zeilen und Spalten
print('Anzahl der Zeilen und Spalten:\n')
print(titanic_df.shape)

# Informationen zu den Spalten und Datentypen
print('\nInformationen zu den Spalten und Datentypen:\n')
print(titanic_df.info())

# Statistische Eckdaten für alle Spalten
print('\nStatistische Eckdaten:\n')
print(titanic_df.describe(include='all'))

# Statistische Eckdaten für numerische Spalten (optional) und transponiert
print('\nStatistische Eckdaten (numerisch, transponiert):\n')
print(titanic_df.describe().transpose())

Anzahl der Zeilen und Spalten:

(891, 12)

Informationen zu den Spalten und Datentypen:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Statistische Eckdaten:

        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN

Statistische Eckdaten (numerisch, transponiert):

             count        mean         std   min       25%       50%    75%  \
PassengerId  891.0  446.000000  257.353842  1.00  223.5000  446.0000  668.5
Survived     891.0    0.383838    0.486592  0.00    0.0000    0.0000    1.0
Pclass       891.0    2.308642    0.836071  1.00    2.0000    3.0000    3.0
Age          714.0   29.699118   14.526497  0.42   20.1250   28.0000   38.0
SibSp        891.0    0.523008    1.102743  0.00    0.0000    0.0000    1.0
Parch        891.0    0.381594    0.806057  0.00    0.0000    0.0000    0.0
Fare         891.0   32.204208   49.693429  0.00    7.9104   14.4542   31.0

                  max
PassengerId  891.0000
Survived       1.0000
Pclass         3.0000
Age           80.0000
SibSp          8.0000
Parch          6.0000
Fare         512.3292

Gibt es Datenlücken in Dataset? Wie kann man sie behandeln?

In [ ]:
#print(titanic_df.isna())#Überall wo `True` steht, heißt es, dass wir dort ein `NaN` haben.

print(titanic_df.isna().sum()) # Anzal der Datenlücken 
#alternative: 
print(titanic_df.isnull().sum())

#Wie kann man Lücken ersetzen
#drop machen
#df.Age.fillna(age_avg, inplace=True)
#df.loc[df['Sex']== 'female','Age'] = df.loc[df['Sex']]=='female, 'Age'].fillna(avg_age_female)
#df.loc[df['Sex']]=='male', 'Age' = df.loc[df['Sex'] == 'male', 'Age'].fillna(avg_age_male)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Gibt es kategorische Attribute in Dataset? Kann man diese in Zahlen umwandeln?

In [36]:
print('Originale erste drei Zeile:')
print(titanic_df.head(3))
print(f'Originale letzte drei Zeile:\n{titanic_df.tail(3)}')
#Kateg_att= titanic_df[['Survived', 'Pclass', 'Name', 'Sex', 'Cabin', 'Embarked']]
# Ja, kann man z.B Geschlecht als Zahlen 0 und 1 vorstellen. Z.B. male = 1, female = 0
kopie_titanic_df = titanic_df.copy()

kopie_titanic_df.loc[kopie_titanic_df['Sex'] =='male', 'Sex'] = 1
kopie_titanic_df.loc[kopie_titanic_df['Sex'] =='female', 'Sex'] = 0
print(kopie_titanic_df.head(3))

print(kopie_titanic_df['Embarked'])
# Bei 'Embarked' kann man Buchstabe als Zahlen umtauschen, z,B. S = 1, C = 2, Q = 3
kopie_titanic_df.loc[kopie_titanic_df['Embarked'] =='S', 'Embarked'] = 1
kopie_titanic_df.loc[kopie_titanic_df['Embarked'] =='C', 'Embarked'] = 2
kopie_titanic_df.loc[kopie_titanic_df['Embarked'] =='Q', 'Embarked'] = 3
print(kopie_titanic_df.tail(3))#sehe letzte drei Zeile

Originale erste drei Zeile:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
Originale letzte drei Zeile:
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris   1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   0  38.0      1      0
2                             Heikkinen, Miss. Laina   0  26.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

    Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888   0   NaN      1      2  W./C. 6607  23.45   NaN        1
889   1  26.0      0      0      111369  30.00  C148        2
890   1  32.0      0      0      370376   7.75   NaN        3

Sind alle Datentypen in Dataset _richtig_ und für analytische Aufgaben geeignet? (Für nummerische Analysen müssen die Daten als Zahlen vorliegen, welche Spalte könnte man entsprechend umwandeln ? ) <br>
Zeicchenketten können unter anderem der `replace()`-Methode umgewandelt werden, in dem man jedes Vorkommen durch eine entsprechende Zahl ersetzt.

In [ ]:
titanic_df.dtypes
# Sex, Embarked wäre es besser in Zahlen umwandeln

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
kopie_titanic_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [45]:
kopie_titanic_df['Sex'] = kopie_titanic_df['Sex'].replace({'male': 1, 'female': 0})
kopie_titanic_df['Embarked'] = kopie_titanic_df['Embarked'].replace({'S': 1, 'C': 2, 'Q': 3})
kopie_titanic_df.dtypes

C:\Users\NataliaArchipenko\AppData\Local\Temp\ipykernel_18508\556910976.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  kopie_titanic_df['Embarked'] = kopie_titanic_df['Embarked'].replace({'S': 1, 'C': 2, 'Q': 3})

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked       float64
dtype: object

Wie viele von Passagieren waren weiblich und wie viele männlich?

In [55]:
maennlich_anzahl = kopie_titanic_df['Sex'].sum()
print(f'Anzahl der Männer ist {maennlich_anzahl}')
anzahl_zeilen = kopie_titanic_df.shape[0]
weiblich_anzahl = anzahl_zeilen - maennlich_anzahl
print(f'Anzahl der Frauen ist {weiblich_anzahl}')

#oder so:
weiblich_anzahl2 = kopie_titanic_df[kopie_titanic_df['Sex']== 0]['PassengerId'].count()
print(weiblich_anzahl2 )
#Vom Original:
anzahl_m = titanic_df[titanic_df['Sex']=='male']['PassengerId'].count()
anzahl_w = titanic_df[titanic_df['Sex']=='female']['PassengerId'].count()
print(f' Anzahl von Männern ist {anzahl_m}, Anzahl von Frauen ist {anzahl_w}')

Anzahl der Männer ist 577
Anzahl der Frauen ist 314
314
 Anzahl von Männern ist 577, Anzahl von Frauen ist 314

Wie ist der Prozentanteil der geretteten weiblichen Personen im Vergleich zu geretteten männlichen Personen?

In [61]:
print(F'Prozent der getretten weiblichen Personen ist {anzahl_w*100/anzahl_zeilen:.2f}%')
print(F'Prozent der getretten männlichen Personen ist {anzahl_m*100/anzahl_zeilen:.2f}%')

Prozent der getretten weiblichen Personen ist 35.24%
Prozent der getretten männlichen Personen ist 64.76%

In [64]:
print(titanic_df.groupby('Sex')['Survived'].mean() * 100)

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

Wie ist der Durchschnittalter von weiblichen Personen, bzw. männlichen Passagieren?

In [79]:
durchschnitt_alter = titanic_df['Age'].mean()

print(f'Allgemein durchschnittliches Alter von aller Passagieren: {durchschnitt_alter:.2f}')
durchschnitt_alter_m = titanic_df[titanic_df['Sex'] == 'male']['Age'].mean()
durchschnitt_alter_w = titanic_df[titanic_df['Sex'] == 'female']['Age'].mean()
print(f'Das Durchschnittliche Alter von Männern: {durchschnitt_alter_m:.2f}')

print(f'Das durchschnittliche Alter von Frauen: {durchschnitt_alter_w:.2f}')

Allgemein durchschnittliches Alter von aller Passagieren: 29.70
Das Durchschnittliche Alter von Männern: 30.73
Das durchschnittliche Alter von Frauen: 27.92

Happy Coding!