# Pandas Aufgaben

##### Aufgabe (1)
Erzeugen Sie ein beliebiges DataFrame mit einem Index, der aus Vornamen besteht,
sowie einer Spalte für das Gewicht und einer Spalte für die Körpergröße. Befüllen Sie dann mit _imaginäre Daten_ Ihren Dataframe.

In [2]:
# schreibe deinen code hier
import pandas as pd
df=pd.DataFrame({'Vorname':['Max', 'Lena', 'Tim','Lisa', 'Don'], 'Gewicht': [80, 55, 93, 39, 120], 'Körpergröße': [186, 165, 181, 158, 176]})
df

  Vorname  Gewicht  Körpergröße
0     Max       80          186
1    Lena       55          165
2     Tim       93          181
3    Lisa       39          158
4     Don      120          176

##### Aufgabe (2)

Extrahieren Sie dann alle Zeilen, deren BMI (Body Mass Index) im normalen Bereich liegt, d.h. zwischen 18.5 und 25.
  
Es gilt:
- BMI = m / (h ∗∗ 2)
- m: Körpermaße in Kilogramm
- h: Körpergröße in Meter

_Tipp_ Sie können in Dataframe eine neue Spalte `bmi` hinzufügen:  

```python
df['bmi'] = # Berechnung
```

In [5]:
# schreibe deinen code hier
#BMI = m / (h ∗∗ 2)
df['bmi'] = df['Gewicht'] / (df['Körpergröße'] / 100) ** 2
df.query('bmi>18.5 & bmi < 25') # and - &, | - oder

  Vorname  Gewicht  Körpergröße        bmi
0     Max       80          186  23.124061
1    Lena       55          165  20.202020

##### Aufgabe(3)

Exportieren Sie Ihren Dataframe als eine `csv` Datei, z.B. `bmi.csv`

In [6]:
# schreibe deinen code hier
df.to_csv('bmi.csv', 
              index=None) # keine Extra Index-Spalte erzeugen

Happy Coding!