Übung 1: 

Grundlegende Series-Erstellung und Zugriff auf Elemente<bp><bp>

Aufgabe 1:<bp>

Erstelle eine Series mit den folgenden Daten:<bp> 
['Apfel', 'Banane',
'Kirsche', 'Dattel', 'Erdbeere']<bp>
 und nutze als Index die Buchstaben ['A','B', 'C', 'D', 'E'].<bp>

<bp>Greife auf das zweite und das letzte Element der Serie zu.<bp>

Ändere das erste Element der Series auf 'Ananas' und gib die Serie erneut aus.

In [18]:
import pandas as pd
buchstaben = ['A','B', 'C', 'D', 'E']
obst = ['Apfel', 'Banane','Kirsche', 'Dattel', 'Erdbeere']
s= pd.Series(obst, index = buchstaben)
#print(f'Zweites Element: {s[1]}')
#print(f'Letztes Element: {s.tail(1)}')

#print(f"Zweites Element: {s['B']}")
#print(f"Letztes Element: {s['E']}")

#print(f"Zweites Element: {s.iat[1]}")
#print(f"Letztes Element: {s.iat[-1]}")
 
 #letzte zwei am besten:
print(f"Zweites Element: {s.loc['B']}")
print(f"Letztes Element: {s.loc['E']}")

#print(f"Zweites Element: {s.iloc[1]}")
#print(f"Letztes Element: {s.iloc[-1]}")

#Änderung des Elements der Series

#s[0]='Ananas'

#s['A'] = 'Ananas'

#s.iloc[0] = 'Ananas'

s.iat[0] = 'Ananas'
s

Zweites Element: Banane
Letztes Element: Erdbeere

A      Ananas
B      Banane
C     Kirsche
D      Dattel
E    Erdbeere
dtype: object

Aufgabe 2:

Erstelle eine Series mit Temperaturen der Woche:

 Temperaturen = [20, 21,19, 22, 23, 24, 18] 

 und als Index die Tage der Woche 
 
 ['Mo', 'Di', 'Mi','Do', 'Fr', 'Sa', 'So'].

Gib die Temperatur für Mittwoch aus.

Ändere die Temperatur für Sonntag auf 19 und gib die Serie erneut aus

In [27]:
Temperaturen = [20, 21, 19, 22, 23, 24, 18]
Tage_der_Woche=['Mo', 'Di', 'Mi','Do', 'Fr', 'Sa', 'So']
ser = pd.Series(Temperaturen, index = Tage_der_Woche)
print(f'Die Temperatur am Mittwoch war {ser.loc['Mi']} Grad')
ser.loc['So'] = 19
ser

Die Temperatur am Mittwoch war 19 Grad

Mo    20
Di    21
Mi    19
Do    22
Fr    23
Sa    24
So    19
dtype: int64

Aufgabe 3:

Erstelle eine Series mit den Namen ['Alice', 'Bob', 'Charlie', 'David','Eve'] 

und ordne den Namen jeweils eine zufällige Punktzahl zu, z.B. [85, 90,78, 88, 92].

Greife auf die Punktzahl von Bob zu und aktualisiere seine Punktzahl auf 95.

Gib die Series mit den aktualisierten Werten aus.

In [36]:
namen = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
punktzahl = [85, 90, 78, 88, 92]
ser = pd.Series(punktzahl, index = namen)
print(f'Bob hatte {ser.loc['Bob']} Punkten')
ser.loc['Bob']=95
ser

Bob hatte 90 Punkten

Alice      85
Bob        95
Charlie    78
David      88
Eve        92
dtype: int64

Übung 2: Mathematische Operationen auf Series

Aufgabe 1:

Erstelle eine Series namens preise mit den Werten [2.5, 3.0, 4.5, 3.75, 2.25] , 
die die Preise von Artikeln darstellt.

Multipliziere alle Werte in der Series mit 1.19, um die Preise inklusive Mehrwertsteuer zu berechnen.

Gib die Series nach der Berechnung aus und berechne anschließend den Gesamtpreis.

In [48]:
preise = [2.5, 3.0, 4.5, 3.75, 2.25]
s = pd.Series(preise)
s_mit_steuertn= s*1.9
print(f'Neue Priese  sind \n{s_mit_steuertn}')
print(f'Gesamtpreis mit Steuern ist {sum(s_mit_steuertn)} Euro')

Neue Priese  sind
0    4.750
1    5.700
2    8.550
3    7.125
4    4.275
dtype: float64
Gesamtpreis mit Steuern ist 30.4 Euro

Aufgabe 2:

Erstelle eine Series namens vorrat mit den Werten [5, 3, 6, 8, 2], die die
Anzahl der vorrätigen Artikel in einem Lager darstellt.

Erhöhe die Werte um 10 %, um eine Lagerauffüllung zu simulieren.

Gib die durchschnittliche Anzahl der Artikel im Lager vor und nach der Erhöhung
an.

In [56]:
vorrat = [5, 3, 6, 8, 2]
s = pd.Series(vorrat)
print(f'Die Preise vor Erhöhung\n{s}')
s_10_proz = s * 1.1
print(f'Die Preise nach der Erhöhung\n{s_10_proz}')
durchschnit_nach= s_10_proz.mean()
durchschnit_vor= s.mean()
print()
print(f'Die durchschnittliche Anzahl der Artikel im Lager vor  Erhöhung: {durchschnit_vor}')
print(f'Die durchschnittliche Anzahl der Artikel im Lager nach  Erhöhung: {durchschnit_nach}')

Die Preise vor Erhöhung
0    5
1    3
2    6
3    8
4    2
dtype: int64
Die Preise nach der Erhöhung
0    5.5
1    3.3
2    6.6
3    8.8
4    2.2
dtype: float64

Die durchschnittliche Anzahl der Artikel im Lager vor  Erhöhung: 4.8
Die durchschnittliche Anzahl der Artikel im Lager nach  Erhöhung: 5.28

Aufgabe 3:
Erstelle eine Series namens umsatz mit monatlichen Umsätzen in Tausend [50, 45, 60, 55, 70, 65] .

Berechne für jeden Monat einen Bonus von 10 % des Umsatzes und speichere
diesen als neue Series bonus.

Gib den Gesamtwert von bonus sowie die Summe von umsatz + bonus aus

In [69]:
umsatz = [50,45, 60, 55, 70, 65]
ser= pd.Series(umsatz)
print(ser,'\n')
print(f'Die Summe von Umsatz ist {sum(ser)}\n')
ser_bon = ser * 10 /100
print(f'Bonus:\n{ser_bon}\n')
print(f'Gesamtwert von Bonus ist {sum(ser_bon)} Tausend Euro\n')
print(f'Die Summe von Umzatz mit Bonus ist {sum(ser)+sum(ser_bon)} Tausend Euro')

0    50
1    45
2    60
3    55
4    70
5    65
dtype: int64

Die Summe von Umsatz ist 345

Bonus:
0    5.0
1    4.5
2    6.0
3    5.5
4    7.0
5    6.5
dtype: float64

Gesamtwert von Bonus ist 34.5 Tausend Euro

Die Summe von Umzatz mit Bonus ist 379.5 Tausend Euro

Übung 3: Logische Operationen und Filter

Aufgabe 1:

Erstelle eine Series namens alter mit Alterswerten [18, 21, 30, 16, 22,
25, 17, 19] .
Filtere alle Einträge, bei denen das Alter über 18 Jahre liegt, und speichere diese in
einer neuen Series .
Gib die Anzahl der Alterswerte an, die genau 18 Jahre betragen.

In [82]:
alter = [18, 21, 30, 16, 22, 25, 17, 19]
ser = pd.Series(alter)
neu = ser[ser > 18]
print(f'Personen, die älter als 18 sind \n{neu}')
genau_18= ser[ser == 18]
print(f'Anzahl Personen, die 18 Jahre alt sind, ist {len(genau_18)}')

Personen, die älter als 18 sind
1    21
2    30
4    22
5    25
7    19
dtype: int64
Anzahl Personen, die 18 Jahre alt sind, ist 1

Aufgabe 2:

Erstelle eine Series mit dem Namen punkte und den Werten [60, 45, 88,
72, 90, 55, 40] , die die Punktzahl verschiedener Teilnehmer darstellt.

Filtere alle Teilnehmer heraus, die mindestens 70 Punkte erreicht haben, und gib
diese in einer neuen Series aus.

Gib außerdem die Anzahl der Teilnehmer mit weniger als 50 Punkten an.

In [91]:
punkte = [60, 45, 88, 72, 90, 55, 40]
ser = pd.Series(punkte)
neu = ser[ser > 70]
print(f' Teilnehmer*innen, die mehr als 70 Punkten haben:\n{neu}\n')
print(f'Anzahl der Teilnehmer*innen, die weniger als 70 Punkten haben: {len(ser) - len(neu)}')

 Teilnehmer*innen, die mehr als 70 Punkten haben:
2    88
3    72
4    90
dtype: int64

Anzahl der Teilnehmer*innen, die weniger als 70 Punkten haben: 4

Aufgabe 3:

Erstelle eine Series namens note mit Noten [2.5, 3.0, 1.7, 4.0, 2.0, 3.3,
1.0, 2.8].

Filtere alle Einträge heraus, bei denen die Note besser als 2.0 ist, und speichere
diese in einer neuen Series beste_noten.

Gib die Anzahl und den Durchschnittswert der Noten in beste_noten aus.

In [97]:
noten = [2.5, 3.0, 1.7, 4.0, 2.0, 3.3, 1.0, 2.8]
ser = pd.Series(noten)
neu = ser[ser > 2]
print(f'Beste Punkte:\n{neu}\n')
print(f'Durchschnittswert der besten Noten:\n{neu.mean()}')

Beste Punkte:
0    2.5
1    3.0
3    4.0
5    3.3
7    2.8
dtype: float64

Durchschnittswert der besten Noten:
3.12