# SF Löhne Übung - Aufgabe

Willkommen zurück zu einer kleinen Übungseinheit zur Daten Analyse mit Pandas. Wir werden dafür den [Lohndatensatz von San Francisco](https://www.kaggle.com/kaggle/sf-salaries) nutzen, der auf Kaggle bereitgestellt wird. 

Folgt dem Notebook und bearbeitet die **Aufgabenstellung** der Reihenfolge nach.

**Importiere pandas als pd.**

In [5]:
import pandas as pd

**Lese Salaries.csv als Dataframe namens sal ein.**

**Hinweis:** Die Datei *Salaries.csv* liegt im diesem Übungungsheft anbei. Wenn du diese von Kaggle herunterlädst dann muss du die Daten noch etwas anpassen.

In [6]:
sal = pd.read_csv('Salaries.csv')
print(sal.head(5))

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

**Sieh dir den *head* des Dataframe an.**

In [7]:
print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

**Nutze die `info()` Methode, um herauszufinden, wie viele Einträge es gibt.**

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Was ist der durchschnittliche Grundlohn (en. BasePay)?**

In [9]:
print(f'Der durchschnittliche Grundlohn ist {sal['BasePay'].mean():.2f} Euro')

Der durchschnittliche Grundlohn ist 66325.45 Euro

**Was ist der höchste Überstundenlohn (en. OvertimePay), der im Datensatz festgehalten ist?**

In [10]:
print(f'Der höchste Überstundenlohn ist {sal['OvertimePay'].max():.2f} Euro')

Der höchste Überstundenlohn ist 245131.88 Euro

**Wie lautet die Berufsbezeichnung (en. JobTitle) von JOSEPH DRISCOLL?**

*Achtung: Beim Namen nur Großbuchstaben vernwenden!*<br>
**Hinweis**: Auswahl funktioniert ähnlich wie bei `numpy` arrays, eine Bedinung wird über jedes Element geprüft und liefert eine boolsche Series. Mit dieser können dann die Daten gefiltert werden.

In [11]:
job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
print(f'Die Berufsbezeichnung von Joseph Driscoll ist\n{job_title}')

Die Berufsbezeichnung von Joseph Driscoll ist
24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Wie viel verdient JOSEPH DRISCOLL (inkl. Zusatleistungen (en. Benefits))?**<br><br>
**Hinweis:** Erst entsprechnde Zeile bestimmen (filtern wie oben), dann Wert ausgeben

In [12]:
gehalt = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
print(f'JOSEPH DRISCOLL verdient {gehalt:.2f} Euro')

JOSEPH DRISCOLL verdient 270324.91 Euro

**Wie heißt die höchstbezahlte Person (inkl. Zusatzleistungen)?**

In [13]:
name_hoch_bezalt = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName'].values[0]
print(f' Der name der höchstbezahlten Person ist {name_hoch_bezalt}')

 Der name der höchstbezahlten Person ist NATHANIEL FORD

In [14]:
#df= pd.DataFrame(sal[sal['EmployeeName'] == 'NATHANIEL FORD'])
#df 

#sal[sal['EmployeeName'] == 'NATHANIEL FORD']

print(sal[sal['EmployeeName'] == 'NATHANIEL FORD'].iloc[0])

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**Wie lautet der Name der am niedrigsten bezahlten Person? Fällt dir etwas merkwürdiges an ihrem Lohn auf?**

In [25]:
name_min_bezalt = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName'].values[0]
print(f'Der Name der niedriegsten bezahlten Person ist {name_min_bezalt}')
print(f'Seine Gehalt ist {sal[sal['EmployeeName'] == 'Joe Lopez']['TotalPayBenefits'].values[0]} Euro')

Der Name der niedriegsten bezahlten Person ist Joe Lopez
Seine Gehalt ist -618.13 Euro

In [24]:
sal.loc[sal['TotalPayBenefits'].idxmax()]
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [16]:
print(sal[sal['EmployeeName'] == 'Joe Lopez'].iloc[0])

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

**Muss NICHT bearbeitet werden, machen wir noch**<br>
**Wie ist der durchschnittliche (en. mean) Grundlohn (en. base pay) von allen Angestellten pro Jahr (2011-2014)?**
<br><br>
**Hinweis:** Erstmal Filter für entsprechende Jahre auf das DataFrame anwenden, dann nach Jahr gruppieren

In [26]:
year_filtr = sal[(sal['Year'] <= 2014) & (sal['Year'] >= 2011)]

grouped_mean = year_filtr.groupby('Year')['BasePay'].mean().round(2)
print(grouped_mean)

Year
2011    63595.96
2012    65436.41
2013    69630.03
2014    66564.42
Name: BasePay, dtype: float64

**Wie viele einzigartige (en. unique) Jobbezeichnungen (en. job titles) gibt es?**

In [18]:
job_unik= sal['JobTitle'].unique()
anzahl = len(job_unik)
print(anzahl)

2159

**Was sind die 5 häufigsten Jobs?**

In [19]:
anzahl = sal['JobTitle'].value_counts()
sort= anzahl.sort_values(ascending=False)
print(sort.head(5))

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [27]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [29]:
sal['JobTitle'].value_counts().head(5).sort_index().loc['Police Officer 3']

np.int64(2421)

**Wie viele Berufsbezeichnungen (en. job titles) wurden 2013 von nur einer Person getragen?**

*Hinweis: Haben nur eine Erscheinung in 2013*<br>
`value_counts()` kann benutzt werden um die Vorkommen der einzigartigen Werte zu zählen

In [20]:
year_filtr = sal[sal['Year'] == 2013]
job_anzahl= year_filtr['JobTitle'].value_counts()
jobtitel_vor_einer_person = (job_anzahl == 1).sum()
print(jobtitel_vor_einer_person)

202

In [32]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

**Wie viele Angestellte tragen ein "Chief" in ihrer Berufsbezeichnung?**

*Hinweis: Das ist eine etwas schwierigere Aufgabe, nehmt euch etwas Zeit dafür.*<br>
**Hinweis:** eigene Funktionen/lambda-Ausdruck definieren und mit `apply()` anwenden

In [46]:
def chief(job_title):
    return 'Chief' in job_title.lower()

anzahl_chief = sal['JobTitle'].apply(chief).sum()
print(anzahl_chief)

0

In [42]:
def chief(job_title):
    return isinstance(job_title, str) and 'chief' in job_title.lower()

sum(sal['JobTitle'].apply(chief))

627

In [36]:
def chief(job_title):
    if 'chief' in job_title.lower():
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(chief))

627

**Muss NICHT bearbeitet werden, machen wir noch**<br>
**Bonus: Gibt es eine Korrelation zwischen der Länge einer Berufsbezeichnung und dem Lohn?**

In [ ]:
#???
sal[['titel_len', 'TotalPayBenefits']].corr()

KeyError: 'titel_len'

# Gut gemacht!